.container {
	margin: 40px 0 0 80px;
	order: 1;

	@media (hover: none) and (pointer: coarse), (max-width: 768px) {
		order: 3;
		margin: 35px 0 0;
		margin-left: 20px;
		// display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
	}

	@media (max-width: 768px) {
		position: static;
		margin-top: 30px;
	}
}

.total {
	font-weight: 400;
	font-size: 14px;
	color: var(--font-main-color);
	margin: 0;
	padding: 0 0 20px 0;

	@media (hover: none) and (pointer: coarse), (max-width: 768px) {
		padding-bottom: 12px;
		// text-align: center;
	}
}

.buttons {
	display: flex;
	align-items: center;
	gap: 16px;

	@media (hover: none) and (pointer: coarse), (max-width: 768px) {
		gap: 12px;
	}
}

.buttonDefault {
	background-color: var(--bg-color);
	border: 1px solid rgba(66, 86, 122, 0.5);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background-color 0.1s linear;
	padding: 0 3px 3px 0;

	&:hover {
		background-color: #fff;
	}

	&::after {
		position: absolute;
		content: "";
		border: solid var(--font-main-color);
		border-width: 0 2px 2px 0;
		width: 8px;
		height: 8px;

		@media (max-width: 768px) {
			border-width: 0 2px 2px 0;
			width: 5px;
			height: 5px;
		}
	}

	&:disabled {
		opacity: 0.5;
		cursor: default;

		&:hover {
			background-color: var(--bg-color);
		}
	}

	@media (max-width: 768px) {
		height: 25px;
		width: 25px;
		padding: 0 1px 1px 0;
	}
}

.buttonPrev {
	transform: rotate(135deg);
}

.buttonNext {
	transform: rotate(-45deg);
}

.dots {
	display: none;
	align-items: center;
	gap: 12px;

	@media (hover: none) and (pointer: coarse), (max-width: 768px) {
		display: flex;
		position: absolute;
        left: 50%; 
        transform: translate(-50%, -50%);
		gap: 8px;
	}


}

.dot {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	border: none;
	background-color: rgba(66, 86, 122, 0.4);
	padding: 0;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.dotActive {
	background-color: var(--font-main-color);
	opacity: 1;
	cursor: default;
}

.dot:disabled {
	opacity: 1;
	cursor: default;
}


